<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097872452193-o05i29o7e60f25kk0gvvn0o4oc92d7av.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097872452193-o05i29o7e60f25kk0gvvn0o4oc92d7av</string>
	<key>API_KEY</key>
	<string>AIzaSyB4duPM_BH5aN5Y8nVYfdh7sCjGy6hKeWU</string>
	<key>GCM_SENDER_ID</key>
	<string>1097872452193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ebm.DasdApp</string>
	<key>PROJECT_ID</key>
	<string>dasd-app</string>
	<key>STORAGE_BUCKET</key>
	<string>dasd-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097872452193:ios:be0c8a4ffef7129f2d1820</string>
	<key>DATABASE_URL</key>
	<string>https://dasd-app.firebaseio.com</string>
</dict>
</plist>